<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content class="mat-typography">
  <h3>{{data.message}}</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-flat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>Delete</button>
</mat-dialog-actions>
