* {
  box-sizing: border-box;
}

.contact-details {
  &__card {
    padding: 0;
    border: 1px solid lightgrey;

    .header {
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      background-color: #F7F7F7;

      h1 {
        margin: 0;
      }
    }

    .content {
      padding: 30px 20px;
      border-top: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;

      p {
        margin: 0;
      }
    }

    .footer {
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      background-color: #F7F7F7;

      p {
        margin: 0;
      }
    }
  }

  .back-navigation{
    margin-top: 40px;
  }
}
