<div class="contact-details">
  <mat-card class="contact-details__card">
    <div class="header">
      <h1>Contact from {{contactDetails.name}}</h1>
    </div>

    <div class="content">
      <p>{{contactDetails.message}}</p>
    </div>

    <div class="footer">
      <p>{{contactDetails.created_at}}</p>
    </div>
  </mat-card>

  <div class="back-navigation">
    <button mat-stroked-button routerLink="/admin/contact">
      <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_backspace</mat-icon>
      Back
    </button>
  </div>
</div>
