<div class="container">
  <div class="form-container">
    <form class="search-form" [formGroup]="searchForm">
      <select formControlName="city">
        <option value="" selected hidden>City</option>
        <option value="prishtine">Prishtine</option>
        <option value="gjakove">Gjakove</option>
        <option value="prizren">Prizren</option>
        <option value="mitrovice">Mitrovice</option>
        <option value="peje">Peje</option>
        <option value="gjilan">Gjilan</option>
        <option value="ferizaj">Ferizaj</option>
      </select>

      <select formControlName="type">
        <option value="" selected hidden>Property Type</option>
        <option value="1+1">1 + 1</option>
        <option value="2+1">2 + 1</option>
        <option value="3+1">3 + 1</option>
        <option value="3+2">3 + 2</option>
        <option value="4+1">4 + 1</option>
        <option value="4+2">4 + 2</option>
        <option value="5+1">5 + 1</option>
      </select>

      <select formControlName="offer_types">
        <option value="" selected hidden>Offer Type</option>
        <option value="sale">Sale</option>
        <option value="rent">Rent</option>
        <option value="both">Both</option>
      </select>

      <div class="range-input-container">
        <ng5-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="priceOptions"
                    (highValueChange)="getMaxPrice($event)"
                    (valueChange)="getMinPrice($event)"
        ></ng5-slider>
      </div>

      <button type="submit" class="form-submit" (click)="searchSubmit()">Search</button>
    </form>
  </div>
</div>
