@import '../../../../../assets/styles/fonts', '../../../../../assets/styles/mixin';

.form-container {
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 40px;

  .search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    row-gap: 20px;
    border-bottom: 2px solid #ececec;
    padding-bottom: 30px;

    select {
      flex: 23%;
      height: 50px;
      border: 2px solid #ececec;
      border-radius: 4px;
      padding: 10px;
      font-family: "Merriweather", sans-serif;
      font-size: 14px;
      letter-spacing: 1px;
      color: #959595;
      font-weight: 700;

      @media all and (max-width: 576px) {
        flex: 45%;
      }
    }

    select.bath-rooms, select.bed-rooms {
      flex: 10% !important;
    }

    input {
      flex: 22%;
      width: 100%;
      max-width: 230px;
      height: 46px;
      padding: 0 10px;
      font-family: "Merriweather", sans-serif;
      font-size: 14px;
      color: #959595;
      font-weight: 700;
      border: 2px solid #ececec;
      border-radius: 4px;

      @media all and (max-width: 576px) {
        flex: 40%;
      }
    }

    .range-input-container {
      width: 250px;

      @media all and (max-width: 576px) {
        width: 100%;
      }

      &::ng-deep {
        .ng5-slider .ng5-slider-pointer {
          cursor: pointer;
          width: 16px;
          height: 16px;
          top: -6px;
          background-color: #70b247;
          z-index: 3;
          border-radius: 16px;

          &:after {
            top: 4px;
            left: 4px;
          }

          &:focus {
            outline: none;
          }
        }

        .ng5-slider .ng5-slider-pointer.ng5-slider-active {
          &:after {
            background-color: #ffffff !important;
          }
        }

        .ng5-slider .ng5-slider-selection {
          z-index: 2;
          background: #70b247;
          border-radius: 2px;
        }

        .ng5-slider-span .ng5-slider-bubble .ng5-slider-combined {
          font-family: "Merriweather", sans-serif;
          font-size: 14px;
          line-height: 24px;
          color: #959595;
          font-weight: 700;
          text-align: center;

          b {
            color: #000000;
          }
        }

        .ng5-slider-span .ng5-slider-bubble .ng5-slider-limit .ng5-slider-ceil {
          display: none;
        }

        .ng5-slider.animate .ng5-slider-bubble.ng5-slider-limit {
          display: none;
        }
      }
    }

    .form-submit {
      width: 165px;
      background: #70b247;
      border: 1px solid transparent;
      border-radius: 4px;
      height: 50px;
      font-family: "Dosis", sans-serif;
      font-size: 14px;
      letter-spacing: 1px;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;

      @media all and (max-width: 576px) {
        width: 100%;
      }
    }
  }
}
