@import '../../../../../assets/styles/fonts', '../../../../../assets/styles/mixin';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.item {
  a {
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;

    img {
      width: 15px;
    }
  }

  &:hover{
    cursor: pointer;
  }
}

.mobile-list {
  display: none;
  position: absolute;
  top: 180px;
  z-index: 10001;
  left: 15px;
  right: 15px;
  padding-bottom: 20px;
  background: rgb(10,26,32);
  background: linear-gradient(180deg, rgba(10,26,32,1) 0%, rgba(16,32,27,1) 100%);
}

.logo {
  a {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;

    span {
      font-weight: 600;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

.toggle a {
  img {
    width: 25px;
  }
}

.button.secondary {
  border-bottom: 1px #444 solid;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.menu.active {
  li.item {
    display: none;
  }

  li.mobile-list {
    display: block;

    .item{
      display: block;
    }
  }
}

/* Tablet menu */
@media all and (min-width: 600px) {
  .menu {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .toggle {
    flex: 1;
    text-align: right;
  }

  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }

  .button.secondary {
    border: 0;
  }

  .button a {
    padding: 15px;
    background: #70b247;
    border: 1px #70b247 solid;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  .button.secondary a {
    background: transparent;
  }

  .button a:hover {
    text-decoration: none;
  }

  .button.secondary a:hover {
    color: #ddd;
  }
}

/* Desktop menu */
@media all and (min-width: 900px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .button {
    order: 2;
  }

  .menu li {
    padding: 15px 10px;
  }

  .menu li.button {
    padding-right: 0;
  }
}
