<nav>
  <ul class="menu" [class.active]="menuActive">
    <li class="logo">
      <a routerLink="/">
        <img src="../../../../../assets/images/application-logo.png"/>
        <p><span>real</span>estate</p>
      </a>
    </li>
    <li class="item">
      <a routerLink="/"><img src="../../../../../assets/icons/home-icon.svg" alt=""></a>
    </li>
    <li class="item"><a routerLink="/about-us">About</a></li>
    <li class="item"><a routerLink="/contact-us">Contact</a></li>
    <li class="item button"><a>Submit your property</a></li>

    <li class="mobile-list">
      <ul>
        <li class="item">
          <a routerLink="/"><img src="../../../../../assets/icons/home-icon.svg" alt=""></a>
        </li>
        <li class="item"><a routerLink="/about-us">About</a></li>
        <li class="item"><a routerLink="/contact-us">Contact</a></li>
        <li class="item button"><a>Submit your property</a></li>
      </ul>
    </li>

    <li class="toggle">
      <a (click)="menuActive = !menuActive">
        <img src="../../../../../assets/icons/menu-bars.svg">
      </a>
    </li>
  </ul>
</nav>
