<div class="container">
  <div class="slider" *ngIf="articles; else spinner">
    <carousel cellWidth="100%" [overflowCellsLimit]="1" [autoplayInterval]="3000"
              [height]="sliderHeight" [loop]="true" [autoplay]="true" [dots]="true"
              [arrowsTheme]="'light'" [arrowsOutside]="arrowsOutside" [arrows]="arrowsOutside"
              [pauseOnHover]="false">
      <div class="carousel-cell" *ngFor="let article of articles">
        <div class="slider__card">
          <div class="slider__card--content-container">
            <h1>{{article.title}}</h1>
            <p [innerHTML]="article.body"></p>

            <div class="actions">
              <button class="view-details" [routerLink]="['/property-details/'+article.id]">
                View details
              </button>
            </div>
          </div>

          <div class="slider__card--image-container">
            <div class="price-flag">
              € {{article.price}}
              <span>for {{article.for}}</span>
            </div>

            <div class="rounded-container">
              <img *ngIf="article.photo[0]" [src]="imgUrl+article?.photo[0]?.photo">

              <div class="title-flag">
                {{article.city}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </carousel>
  </div>

  <ng-template #spinner>
    <div class="spinner-container">
      <app-spinner></app-spinner>
    </div>
  </ng-template>
</div>
