@import '../../../../../assets/styles/fonts', '../../../../../assets/styles/mixin';

* {
  box-sizing: border-box;
}

.spinner-container{
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  &::ng-deep {
    .carousel-dots {
      bottom: -15px !important;

      @media screen and(max-width: 768px) {
        bottom: -30px !important;
      }
    }

    .carousel-arrow {
      border-radius: 5px !important;
    }

    .carousel-arrows-outside .carousel-arrow-prev {
      left: -80px !important;
    }

    .carousel-arrows-outside .carousel-arrow-next {
      right: -80px !important;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    width: 100%;

    @media all and (max-width: 576px) {
      flex-direction: column;
    }

    &--content-container {
      flex: 1;

      h1 {
        font-family: "Dosis", sans-serif;
        font-size: 32px;
        letter-spacing: 2px;
        color: #ffffff;
        font-weight: 700;
        text-align: left;
        margin: 0 0 20px 0;

        @media all and (max-width: 576px) {
          font-size: 18px;
        }
      }

      p {
        font-family: "Merriweather", sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        text-align: left;
        font-weight: 300;

        @media all and (max-width: 576px) {
          font-size: 12px;
        }
      }

      .actions {
        display: flex;
        gap: 20px;
        margin-top: 30px;

        .view-details {
          font-family: "Dosis", sans-serif;
          background-color: #70b247;
          border: 1px solid #70b247;
          border-radius: 5px;
          padding: 10px 20px;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 1px;
          color: #ffffff;
          font-weight: 700;

          &:hover {
            cursor: pointer;
          }
        }

        .all-apartments {
          font-family: "Dosis", sans-serif;
          background: transparent;
          font-size: 14px;
          letter-spacing: 1px;
          color: #ffffff;
          font-weight: 700;
          border: none;
          text-transform: uppercase;

          @media all and (max-width: 576px) {
            font-size: 12px;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    &--image-container {
      flex: 1;
      position: relative;

      @media all and (max-width: 576px) {
        margin-top: 20px;
      }

      .price-flag {
        position: absolute;
        z-index: 100;
        border: 5px solid #ffffff;
        border-radius: 50%;
        width: 145px;
        height: 145px;
        bottom: 0;
        left: 20%;
        background-color: #70b247;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 700;
        font-family: "Dosis", sans-serif;

        span {
          font-family: "Merriweather", sans-serif;
          font-size: 14px;
          letter-spacing: 1px;
          color: #458020;
          font-weight: 700;
          font-style: italic;
        }

        @media all and (max-width: 576px) {
          width: 100px;
          height: 100px;
          left: -8%;
          font-size: 16px;
        }

        @media all and (min-width: 992px) and (max-width: 1200px) {
          left: 8%;
        }
      }

      .rounded-container {
        float: right;
        border: 10px solid #ffffff;
        border-radius: 50%;
        width: 420px;
        height: 420px;
        position: relative;
        overflow: hidden;

        @media all and (max-width: 576px) {
          width: 220px;
          height: 220px;
        }

        img {
          height: 100%;
          object-fit: contain;
          width: auto !important;
        }

        .title-flag {
          font-family: "Dosis", sans-serif;
          position: absolute;
          bottom: 10%;
          background-color: #ffffff;
          left: 0;
          right: 0;
          height: 60px;
          font-size: 18px;
          letter-spacing: 1px;
          color: #959595;
          font-weight: 600;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
          //padding-right: 75px;

          @media all and (max-width: 576px) {
            font-size: 14px;
            padding: 0 15px 0 60px;
            height: 50px;
          }

          @media all and (min-width: 992px) and (max-width: 1200px) {
            font-size: 16px;
            padding-right: 65px;
          }
        }
      }
    }
  }
}
