<div class="about-us">
  <div class="about-us__banner">
    <header class="about-us__header">
      <app-header></app-header>
    </header>

    <div class="about-us__navigation-bar">
      <div class="container">
        <app-navigation-bar></app-navigation-bar>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="about-us__content" *ngIf="aboutUsContent; else spinner">
      <div class="about-us__content--image">
        <div class="title-over-image">
          <h1>About real estate one</h1>
        </div>
        <img src="../../../../assets/images/about-us.jpg" alt="about-us">
      </div>
      <div class="about-us__content--description">
        <h1 class="title">{{aboutUsContent.title}}</h1>
        <p class="content" [innerHTML]="aboutUsContent.body"></p>
      </div>
    </div>
  </div>

  <ng-template #spinner>
    <div class="spinner-container">
      <app-spinner></app-spinner>
    </div>
  </ng-template>

  <footer class="about-us__footer">
    <app-footer></app-footer>
  </footer>
</div>
