@import '../../../../assets/styles/fonts', '../../../../assets/styles/mixin';

* {
  box-sizing: border-box;
}

.spinner-container {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us {
  &__banner {
    height: 150px;
    background: rgb(26, 42, 18);
    background: linear-gradient(0deg,
      rgba(26, 42, 18, 1) 0%,
      rgba(6, 22, 36, 1) 100%);

    @media all and (max-width: 992px) {
      height: 200px;
    }
  }

  &__header {
    border-bottom: 1px solid #fff;
  }

  &__content {
    margin: 80px 0;
    border-bottom: 1px solid lightgrey;

    &--image {
      .title-over-image {
        position: absolute;
        background: #fff;
        opacity: 0.5;
        padding: 20px 30px;

        h1 {
          margin: 0;
          padding: 0;
          font-family: 'Dosis', sans-serif;
          font-size: 32px;
          font-weight: 600;
          text-transform: uppercase;
        }
      }

      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
      }
    }

    &--description {
      margin-bottom: 40px;

      .title {
        font-family: 'Dosis', sans-serif;
        font-size: 32px;
        font-weight: 600;
        margin: 20px 0;
      }

      .content {
        font-family: 'Merriweather', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 25px;
        color: #959595;
      }
    }
  }
}
