.contact-us {
  border: 1px solid lightgrey;
  border-radius: 5px;

  &__title {
    border-bottom: 1px solid lightgrey;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 15px;

    h1 {
      margin: 0;
      padding: 0;
    }
  }

  &__content {
    padding: 15px;

    &--filters {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .search {
        width: 300px;

        &__input-field {
          width: 100%;
        }
      }
    }

    &--table {
      overflow-x: scroll;

      table {
        width: 100%;
        box-shadow: none;

        td {
          min-width: 180px;
        }

        button {
          margin-right: 10px;
        }
      }
    }
  }
}
