<div class="contact-us">
  <div class="contact-us__title">
    <h1>Contact Us</h1>
  </div>
  <div class="contact-us__content">
    <div class="contact-us__content--filters">
      <div class="show-entries">
        Show <em>10</em> entries
      </div>
      <div class="search">
        <mat-form-field class="search__input-field">
          <mat-label>Search entries</mat-label>
          <input type="text" matInput placeholder="Search entries">
        </mat-form-field>
      </div>
    </div>

    <div class="contact-us__content--table">
      <table mat-table [dataSource]="contactList" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Full Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email</th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef> Subject</th>
          <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef> Created At</th>
          <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" [routerLink]="'/admin/contact/details/'+element.id">
              Show contact
            </button>
            <button mat-raised-button color="warn" (click)="openDeleteDialog(element.id)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
