@import '../../../../assets/styles/fonts', '../../../../assets/styles/mixin';

* {
  box-sizing: border-box;
}

.spinner-container {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-page {
  &__banner {
    height: 150px;
    background: rgb(26, 42, 18);
    background: linear-gradient(0deg,
      rgba(26, 42, 18, 1) 0%,
      rgba(6, 22, 36, 1) 100%);

    @media all and (max-width: 992px) {
      height: 200px;
    }
  }

  &__header {
    border-bottom: 1px solid #fff;
  }

  &__content {
    margin: 80px 0;

    .article-card {
      width: 100%;
      display: flex;
      align-items: center;
      border: 1px solid lightgrey;
      border-radius: 5px;
      margin-bottom: 20px;
      padding: 15px;

      .article-image {
        width: 100%;
        max-width: 200px;
        margin-right: 20px;

        img {
          width: 100%;
        }

        .no-image {
          display: flex;
          width: 100%;
          height: 135px;
          align-items: center;
          justify-content: center;
          background-color: #222222;
          color: #ffffff;
        }
      }

      .article-body {
        h1 {
          margin: 0 0 10px 0;
          font-family: 'Dosis', sans-serif;
          font-size: 25px;
          letter-spacing: 1px;
          line-height: 25px;
          font-weight: 600;
        }

        p {
          margin: 0 0 10px 0;
          font-family: 'Merriweather', sans-serif;
          font-size: 14px;
          letter-spacing: 1px;
          line-height: 20px;
          font-weight: 300;
          min-height: 50px;
        }

        .show-details {
          button {
            padding: 5px 15px;
            border: 1px solid transparent;
            border-radius: 5px;
            background-color: #70b247;
            color: #ffffff;
            text-transform: uppercase;
            font-family: 'Merriweather', sans-serif;
            letter-spacing: 1px;
            font-weight: 600;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
