<div class="search-page">
  <div class="search-page__banner">
    <header class="search-page__header">
      <app-header></app-header>
    </header>

    <div class="search-page__navigation-bar">
      <div class="container">
        <app-navigation-bar></app-navigation-bar>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="search-page__content" *ngIf="searchedArticles; else spinner">
      <div class="article-card" *ngFor="let article of searchedArticles">
        <div class="article-image">
          <img *ngIf="article.photo[0]" [src]="imageUrl+article.photo[0].photo"/>
          <div *ngIf="!article.photo[0]" class="no-image">No Image</div>
        </div>
        <div class="article-body">
          <h1>{{article.title}}</h1>
          <p [innerHTML]="article.body.length > 250 ? (article.body|slice: 1:250) + '...' : article.body"></p>

          <div class="show-details">
            <button [routerLink]="['/property-details/'+article.id]">Show details</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #spinner>
    <div class="spinner-container">
      <app-spinner></app-spinner>
    </div>
  </ng-template>

  <footer class="search-page__footer">
    <app-footer></app-footer>
  </footer>
</div>
