.register {
  width: 100%;
  max-width: 700px;
  margin: 30px auto;
  border: 1px solid #DFDFDF;
  border-radius: 5px;

  @media screen and (max-width: 768px) {
    width: 90%;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    border-bottom: 1px solid #DFDFDF;
    background-color: #F7F7F7;
    font-size: 16px;
    font-weight: 400;
    color: #212529;
  }

  &__form-container {
    padding: 20px 60px;

    @media screen and (max-width: 576px) {
      padding: 20px 40px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .input-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      @media screen and (max-width: 576px) {
        flex-direction: column;
        align-items: flex-start;
      }

      label {
        flex: 1;
        text-align: right;
        font-size: 16px;
        font-weight: 400;
        color: #212529;
      }

      &__input-div {
        flex: 2;

        input {
          display: block;
          width: 100%;
          font-size: 1rem;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid #ced4da;
          border-radius: 5px;
          min-height: 45px;
          padding: 0 15px;
          box-sizing: border-box;

          &:focus {
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
          }
        }

        .invalid {
          border: 1px solid red;
        }

        small {
          position: absolute;
          font-size: 10px;
          color: red;
        }
      }
    }

    .submit-section {
      display: flex;
      gap: 20px;

      @media screen and (max-width: 576px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .offset-div {
        flex: 1;
      }

      .button-div {
        flex: 2;

        button {
          background-color: #17A2B8;
          margin-left: 3px;
        }
      }
    }
  }
}
