<div class="register">
  <div class="register__header">
    Register
  </div>
  <div class="register__form-container">
    <form class="register__form" [formGroup]="registerForm" (submit)="registerRequest()">
      <div class="input-container">
        <label for="name">Name</label>
        <div class="input-container__input-div">
          <input [class.invalid]="formError && !registerForm.controls.name.valid" type="text" name="name" id="name"
                 formControlName="name">
          <small *ngIf="formError && !registerForm.controls.name.valid" class="error-text">
            This field is required
          </small>
        </div>
      </div>
      <div class="input-container">
        <label for="email">E-Mail Address</label>
        <div class="input-container__input-div">
          <input [class.invalid]="formError && !registerForm.controls.email.valid" type="text" name="email" id="email"
                 formControlName="email">
          <small *ngIf="formError && !registerForm.controls.email.valid" class="error-text">
            This field is required
          </small>
        </div>
      </div>
      <div class="input-container">
        <label for="password">Password</label>
        <div class="input-container__input-div">
          <input [class.invalid]="formError && !registerForm.controls.password.valid" type="password" name="password"
                 id="password" formControlName="password">
          <small *ngIf="formError && !registerForm.controls.password.valid" class="error-text">
            This field is required
          </small>
        </div>
      </div>
      <div class="input-container">
        <label for="confirmPassword">Confirm Password</label>
        <div class="input-container__input-div">
          <input [class.invalid]="formError && !registerForm.controls.password_confirmation.valid" type="password"
                 name="confirmPassword" id="confirmPassword" formControlName="password_confirmation">
          <small *ngIf="formError && !registerForm.controls.password_confirmation.valid" class="error-text">
            This field is required
          </small>
        </div>
      </div>

      <div class="submit-section">
        <div class="offset-div"></div>
        <div class="button-div">
          <button mat-flat-button color="primary">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
