<div class="contact-us">
  <div class="contact-us__banner">
    <header class="contact-us__header">
      <app-header></app-header>
    </header>

    <div class="contact-us__navigation-bar">
      <div class="container">
        <app-navigation-bar></app-navigation-bar>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="contact-us__content">
      <div class="form-container">
        <form class="contact-form" [formGroup]="contactForm" (submit)="submitMessage()">
          <div class="input-container">
            <label for="fullName">Full Name*</label>
            <input [class.invalid-input]="formError && !contactForm.controls.name.valid" type="text" id="fullName"
                   formControlName="name">
            <small *ngIf="formError && !contactForm.controls.name.valid">This field is required</small>
          </div>

          <div class="input-container">
            <label for="email">Email*</label>
            <input [class.invalid-input]="formError && !contactForm.controls.email.valid" type="text" id="email"
                   formControlName="email">
            <small *ngIf="formError && !contactForm.controls.email.valid">This field is required</small>
          </div>

          <div class="input-container">
            <label for="subject">Subject*</label>
            <input [class.invalid-input]="formError && !contactForm.controls.subject.valid" type="text" id="subject"
                   formControlName="subject">
            <small *ngIf="formError && !contactForm.controls.subject.valid">This field is required</small>
          </div>

          <div class="input-container">
            <label for="message">Message*</label>
            <input [class.invalid-input]="formError && !contactForm.controls.content.valid" type="text" id="message"
                   formControlName="content">
            <small *ngIf="formError && !contactForm.controls.content.valid">This field is required</small>
          </div>

          <div class="submit-container">
            <button class="submit-button">Send Message</button>
          </div>
        </form>
      </div>

      <div class="contact-info">
        <h2>CONTACT INFO</h2>
        <div class="address">
          <h3>Address</h3>
          <p> 203 Fake St. Mountain View, San Francisco, California, USA </p>
        </div>
        <div class="phone">
          <h3>Phone</h3>
          <p>+1 232 3235 324</p>
        </div>
        <div class="email-address">
          <h3>Email Address</h3>
          <p>yoremail@domain.com</p>
        </div>
      </div>
    </div>
  </div>

  <footer class="contact-us__footer">
    <app-footer></app-footer>
  </footer>
</div>
