@import '../../../../assets/styles/fonts', '../../../../assets/styles/mixin';

* {
  box-sizing: border-box;
}

.contact-us {
  &__banner {
    height: 150px;
    background: rgb(26, 42, 18);
    background: linear-gradient(0deg,
      rgba(26, 42, 18, 1) 0%,
      rgba(6, 22, 36, 1) 100%);

    @media all and (max-width: 992px) {
      height: 200px;
    }
  }

  &__header {
    border-bottom: 1px solid #fff;
  }

  &__content {
    margin: 100px 0;
    display: flex;
    gap: 20px;

    @media all and(max-width: 768px) {
      flex-direction: column;
    }

    .form-container {
      flex: 2;
      border: 1px solid #DEE2E6;
      padding: 40px;

      .contact-form {
        .input-container {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          position: relative;

          label {
            font-family: 'Dosis', sans-serif;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #666666;
            margin-bottom: 5px;
          }

          input {
            padding: 15px;
            border: 1px solid #DEE2E6;
            border-radius: 5px;

            &:focus {
              outline: none;
              border: 1px solid #2676B9;
            }
          }

          small {
            color: red;
            position: absolute;
            bottom: -20px;
          }

          .invalid-input {
            border: 1px solid red;
          }
        }

        .submit-container {
          margin-top: 50px;

          .submit-button {
            font-family: 'Dosis', sans-serif;
            font-size: 16px;
            letter-spacing: 1px;
            font-weight: 600;
            padding: 12px 25px;
            background-color: #2676B9;
            border: 1px solid #2676B9;
            color: #ffffff;

            &:hover {
              cursor: pointer;
              background-color: #175d98;
              box-shadow: none;
            }

            &:focus {
              box-shadow: none;
              outline: none;
            }
          }
        }
      }
    }

    .contact-info {
      flex: 1;
      padding: 0 15px;

      @media all and(max-width: 768px) {
        padding: 0;
      }

      h2 {
        font-family: 'Dosis', sans-serif;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 18px;
      }

      .address, .phone, .email-address {
        h3 {
          font-family: 'Dosis', sans-serif;
          margin: 0;
          padding: 0;
          letter-spacing: 1px;
          font-weight: 600;
          font-size: 18px;
        }

        p {
          font-family: 'Merriweather', sans-serif;
          font-weight: 300;
          font-size: 16px;
          line-height: 25px;
        }
      }
    }
  }
}
