<div class="login">
  <div class="login__header">
    Login
  </div>

  <div class="login__form-container">
    <form class="login__form" [formGroup]="loginForm" (submit)="loginRequest()">
      <div class="input-container">
        <label for="email">E-Mail Address</label>
        <div class="input-container__input-div">
          <input [class.invalid]="formError && !loginForm.controls.email.valid" type="text" name="email" id="email"
                 formControlName="email">
          <small *ngIf="formError && !loginForm.controls.email.valid" class="error-text">This field is required</small>
        </div>
      </div>
      <div class="input-container">
        <label for="password">Password</label>
        <div class="input-container__input-div">
          <input [class.invalid]="formError && !loginForm.controls.email.valid" type="password" name="password"
                 id="password" formControlName="password">
          <small *ngIf="formError && !loginForm.controls.password.valid" class="error-text">
            This field is required
          </small>
        </div>
      </div>

      <div class="remember-me">
        <div class="offset-div"></div>
        <div class="checkbox-div">
          <input type="checkbox" name="rememberMe" id="rememberMe">
          <label for="rememberMe">Remember Me</label>
        </div>
      </div>

      <div class="submit-section">
        <div class="offset-div"></div>
        <div class="button-div">
          <button mat-flat-button color="primary" class="login-btn">Login</button>
          <button mat-button routerLink="/reset-password" class="forgot-password-btn">Forgot your password?</button>
        </div>
      </div>
    </form>
  </div>
</div>
