<div class="property-details">
  <div class="property-details__banner">
    <header class="property-details__header">
      <app-header></app-header>
    </header>

    <div class="property-details__navigation-bar">
      <div class="container">
        <app-navigation-bar></app-navigation-bar>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="property-details__property-container" *ngIf="article; else spinner">
      <div class="left-side">
        <div class="image-container">
          <img *ngIf="article.photo[0]" [src]="imgUrl+article.photo[0].photo">
          <div class="no-image" *ngIf="!article.photo[0]">
            <h1>No image to show</h1>
          </div>
        </div>
        <div class="description-container">
          <h1>{{article.title}}</h1>
          <p [innerHTML]="article.body"></p>
        </div>
      </div>

      <div class="right-side">
        <h3 class="right-side__title">Article Info</h3>
        <div class="price">
          <h3>
            <span>
              <img src="../../../../assets/icons/money-bag.svg">
              Price:
            </span>
            € {{article?.price}}
          </h3>
        </div>
        <div class="for">
          <h3>
            <span>
              <img src="../../../../assets/icons/rental.svg">
              For:
            </span>
            {{article?.for}}
          </h3>
        </div>
        <div class="type">
          <h3>
            <span>
              <img src="../../../../assets/icons/property-type.svg">
              Type:
            </span>
            {{article?.type}}
          </h3>
        </div>
        <div class="city">
          <h3>
            <span>
              <img src="../../../../assets/icons/city-location.svg">
              City:
            </span>
            {{article?.city}}
          </h3>
        </div>
        <div class="address">
          <h3>
            <span>
              <img src="../../../../assets/icons/address.svg">
              Address:
            </span>
            {{article?.address}}
          </h3>
        </div>
        <div class="available">
          <h3>
            <span>
              <img src="../../../../assets/icons/tick.svg">
              Available:
            </span>
            {{article.available === 1 ? 'Yes' : 'No'}}
          </h3>
        </div>
      </div>
    </div>
  </div>

  <ng-template #spinner>
    <div class="spinner-container">
      <app-spinner></app-spinner>
    </div>
  </ng-template>

  <footer class="property-details__footer">
    <app-footer></app-footer>
  </footer>
</div>
