@import '../../../../assets/styles/fonts', '../../../../assets/styles/mixin';

* {
  box-sizing: border-box;
}

.spinner-container {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.property-details {
  &__banner {
    height: 150px;
    background: rgb(26, 42, 18);
    background: linear-gradient(0deg,
      rgba(26, 42, 18, 1) 0%,
      rgba(6, 22, 36, 1) 100%);

    @media all and (max-width: 992px) {
      height: 200px;
    }
  }

  &__header {
    border-bottom: 1px solid #fff;
  }

  &__property-container {
    display: flex;
    gap: 25px;
    margin: 60px 0;

    @media all and(max-width: 768px) {
      flex-direction: column;
    }

    .left-side {
      flex: 2;
      border: 2px solid #F5F5F5;

      .image-container {
        width: 100%;

        .no-image {
          width: 100%;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #000000;
          color: #ffffff;
        }

        img {
          width: 100%;
        }
      }

      .description-container {
        padding: 15px;

        h1 {
          font-family: 'Dosis', sans-serif;
          font-size: 35px;
          font-weight: 700;
          line-height: 30px;
          color: #777777;
          letter-spacing: 1px;
        }

        p {
          font-family: 'Lora', sans-serif;
          font-size: 20px;
          font-weight: 400;
          line-height: 28px;
          color: #777777;
        }
      }
    }

    .right-side {
      flex: 1;

      &__title {
        font-family: 'Dosis', sans-serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
        color: #70B247;
        letter-spacing: 1px;
      }

      div {
        border: 2px solid #F5F5F5;
        min-height: 50px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding: 0 15px;

        h3 {
          margin: 0;
          font-family: 'Lora', sans-serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
          color: #777777;

          span {
            font-weight: 600;
            margin-right: 10px;

            img{
              width: 16px;
              margin-bottom: -2px;
            }
          }
        }
      }
    }
  }
}
