<div class="container">
  <div class="header-content">
    <div class="left-side">
      <div class="phone">
        <img src="../../../../../assets/icons/phone.svg" alt="phone-icon">
        0729 645 780
      </div>
      <div class="email">
        <img src="../../../../../assets/icons/envelope.svg" alt="envelope-icon">
        contact@realestate.com
      </div>
    </div>

    <div class="right-side">
      <div class="login-register">
        <img src="../../../../../assets/icons/login.svg">
        <button *ngIf="!userActive" routerLink="/login">LOGIN</button>
        <span *ngIf="!userActive">/</span>
        <button *ngIf="!userActive" routerLink="/register">REGISTER</button>
        <button *ngIf="userActive" routerLink="/admin">ADMIN PANEL</button>
      </div>
      <div class="social-media" style="display: none">
        <button class="facebook"><img src="../../../../../assets/icons/facebook.svg" alt="facebook-icon"></button>
        <button class="twitter"><img src="../../../../../assets/icons/twitter.svg" alt="twitter-icon"></button>
        <button class="linkedin"><img src="../../../../../assets/icons/linkedin.svg" alt="linkedin-icon"></button>
      </div>
    </div>
  </div>
</div>
