@import '../../../../../assets/styles/fonts', '../../../../../assets/styles/mixin';

* {
  box-sizing: border-box;
}

.header-content {
  font-family: "Dosis", sans-serif;
  color: #fff;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media screen and(max-width: 768px) {
    flex-direction: column;
    height: 100px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    row-gap: 10px;
  }

  @media screen and(max-width: 992px) {
    height: 100px;
  }

  .left-side {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Font Awesome", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;

    @media screen and(max-width: 768px) {
      font-size: 12px;
      gap: 15px;
    }

    .phone, .email {
      display: flex;
      align-items: center;
    }

    img {
      width: 15px;
      margin-right: 10px;

      @media screen and(max-width: 768px) {
        width: 12px;
      }
    }
  }

  .right-side {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Font Awesome", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;

    @media screen and(max-width: 768px) {
      gap: 5px;
      font-size: 12px;
      flex-wrap: wrap;
    }

    .favorites, .login-register {
      display: flex;
      align-items: center;

      img {
        width: 15px;
        margin-right: 10px;

        @media screen and(max-width: 768px) {
          width: 12px;
          margin-right: 0;
        }
      }
    }

    .favorites {
      img {
        @media screen and(max-width: 768px) {
          width: 12px;
          margin-right: 8px;
        }
      }
    }

    button {
      font-family: "Font Awesome", sans-serif;
      font-size: 14px;
      letter-spacing: 1px;
      color: #ffffff;
      background: none;
      border: none;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        border: none;
      }

      img {
        width: 15px;
      }

      @media screen and(max-width: 768px) {
        font-size: 12px;
      }
    }

    .social-media {
      button {
        height: 50px;
        width: 50px;

        @media screen and(max-width: 768px) {
          height: 30px;
          width: 30px;
          padding: 0;
        }

        &:hover {
          cursor: pointer;
        }
      }

      .facebook, .linkedin {
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        border-radius: 0;

        //@media screen and(max-width: 768px) {
        //  border: none;
        //}
      }
    }
  }
}
