* {
  box-sizing: border-box;
}

.article-details {
  &__card {
    div {
      min-height: 50px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #DFDFDF;
      padding: 10px 0;
      font-size: 16px;

      strong {
        margin-right: 10px;
      }
    }

    div.body {
      align-items: flex-start;

      &__content {
        border: none;
        margin-left: 20px;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .show-button {
      margin-left: 10px;
    }
  }
}
