<div class="article-details">
  <mat-card class="article-details__card">
    <div class="title"><strong>Title: </strong> {{articleInfo?.title}}</div>
    <div class="id"><strong>ID: </strong> {{articleInfo?.id}}</div>
    <div class="name"><strong>Name: </strong> User Name</div>
    <div class="body">
      <strong>Description: </strong>
      <div class="body__content">
        <p [innerHTML]="articleInfo?.body"></p>
      </div>
    </div>
    <div class="city"><strong>City: </strong> {{articleInfo?.city}}</div>
    <div class="address"><strong>Address: </strong> {{articleInfo?.address}}</div>
    <div class="for"><strong>For: </strong> {{articleInfo?.for}}</div>
    <div class="price"><strong>Price: </strong> {{articleInfo?.price}}</div>
    <div class="views"><strong>Views: </strong> {{articleInfo?.views}}</div>
    <div class="type"><strong>Type: </strong> {{articleInfo?.type}}</div>
    <div class="available"><strong>Available: </strong> {{articleInfo?.available === 1 ? 'Yes' : 'No'}}</div>
    <div class="number"><strong>Phone number: </strong> {{articleInfo?.phonenumber}}</div>
    <div class="created-at"><strong>Crated: </strong> {{articleInfo?.created_at}}</div>
    <div class="updated_at"><strong>Updated: </strong> {{articleInfo?.updated_at}}</div>
  </mat-card>

  <div class="actions">
    <div class="back-navigation">
      <button mat-stroked-button routerLink="/admin/articles">
        <mat-icon aria-hidden="false" aria-label="back button">keyboard_backspace</mat-icon>
        Back
      </button>
    </div>
    <div class="action-buttons">
      <button mat-stroked-button class="edit-button" [routerLink]="['/admin/articles/edit-article']"
              [queryParams]="{id: articleInfo?.id}">Edit
      </button>
      <button mat-stroked-button class="show-button" [routerLink]="['/property-details']"
              [queryParams]="{id: articleInfo?.id}">Show
      </button>
    </div>
  </div>
</div>
