.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;

  .toolbar-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .action-btn {
      background: #3c8dbc;
      border: 1px solid #3c8dbc;
      color: #ffffff;

      &:hover {
        background: #367FA9;
      }

      &__active {
        background: #367FA9;
      }
    }
  }
}

.mat-toolbar.mat-primary {
  background: #3c8dbc;
}
