<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="toolbar-heading">
    <span routerLink="/admin">Admin Panel</span>
    <div class="action-buttons">
      <button mat-flat-button class="action-btn" routerLink="/login" routerLinkActive="action-btn__active">
        Login
      </button>
      <button mat-flat-button class="action-btn" routerLink="/register" routerLinkActive="action-btn__active">
        Register
      </button>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

