<div class="home-page">
  <div class="home-page__banner">
    <header class="home-page__header">
      <app-header></app-header>
    </header>

    <div class="home-page__navigation-bar">
      <div class="container">
        <app-navigation-bar></app-navigation-bar>
      </div>
    </div>

    <div class="home-page__banner--carousel">
      <app-home-page-carousel [articles]="articles | async"></app-home-page-carousel>
    </div>

    <div class="home-page__search">
      <app-home-page-search></app-home-page-search>
    </div>

    <div class="home-page__properties">
      <app-real-estate-properties [articles]="articles | async"></app-real-estate-properties>
    </div>

    <div class="home-page__agents" style="display: none">
      <div class="container">
        <div class="home-page__agents--row">
          <div class="home-page__agents--column">
            <h1 class="blue-heading">Our Agents</h1>
            <h1 class="green-heading">You Can Trust</h1>
            <p class="description">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa quiofficia deserunt mollit anim id est
              laborum. Sed ut perspiciatis unde omnis natus ervoluptatem accusantium.
            </p>

            <div class="arrow-buttons">
              <button class="left">
                <img src="../../../../assets/icons/left-arrow.svg">
              </button>
              <button class="right">
                <img src="../../../../assets/icons/right-arrow.svg">
              </button>
            </div>
          </div>
          <div class="home-page__agents--column">
            <div class="agent-image">
              <img src="../../../../assets/images/agent-1.png"/>
            </div>
          </div>
          <div class="home-page__agents--column">
            <div class="agent-image">
              <img src="../../../../assets/images/agent-2.png"/>
            </div>
          </div>
          <div class="home-page__agents--column">
            <div class="agent-image">
              <img src="../../../../assets/images/agent-3.png"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="home-page__footer">
      <app-footer></app-footer>
    </footer>
  </div>
</div>
