@import '../../../../assets/styles/fonts', '../../../../assets/styles/mixin';

* {
  box-sizing: border-box;
}

.home-page {
  &__banner {
    height: 800px;
    background: rgb(26, 42, 18);
    background: linear-gradient(0deg,
      rgba(26, 42, 18, 1) 0%,
      rgba(6, 22, 36, 1) 100%);
  }

  &__header {
    border-bottom: 1px solid #fff;
  }

  &__properties {
    margin: 100px 0;
  }

  &__agents {
    margin-bottom: 100px;

    &--row {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #ececec;
    }

    &--column {
      flex: 25%;

      @media all and (max-width: 576px) {
        flex: 50%;
      }

      .arrow-buttons {
        button {
          background-color: #175d98;
          width: 50px;
          height: 50px;
          border: 1px solid transparent;
          color: #fff;
          margin-top: 30px;

          img {
            width: 20px;
          }

          &:hover {
            cursor: pointer;
          }
        }

        .left {
          border-radius: 4px 0 0 4px;
          border-right: 2px solid #135186;
        }

        .right {
          border-radius: 0 4px 4px 0;
          border-left: 2px solid #135186;
        }
      }

      .agent-image {
        img {
          width: 100%;
        }
      }
    }

    .blue-heading {
      font-family: "Dosis", sans-serif;
      font-size: 32px;
      letter-spacing: 2px;
      color: #175d98;
      font-weight: 800;
      margin: 0;
    }

    .green-heading {
      font-family: "Dosis", sans-serif;
      font-size: 32px;
      letter-spacing: 2px;
      color: #70b247;
      font-weight: 800;
      margin: 0;
    }

    .description {
      font-family: "Merriweather", sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: #959595;
    }
  }
}
