.create-article {
  border: 1px solid #17A2B8;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #17A2B8;
    color: #ffffff;

    h1 {
      padding: 0;
      margin: 0;
    }
  }

  &__body {
    padding: 15px;
  }

  &__form {
    .field-full-width {
      width: 100%;
      margin-bottom: 20px;
    }

    .text-editor {
      margin-bottom: 20px;

      label {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.8);
      }

      small {
        color: red;
      }
    }

    .inline-form-fields {
      width: 100%;
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
      flex-wrap: wrap;

      .mat-form-field {
        flex: auto;
      }
    }

    .file-input {
      margin-bottom: 20px;
    }

    .form-submit {
      button {
        width: 100%;
        background-color: #17A2B8;
      }
    }

    .spinner-submit {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 37px;
      background-color: #17A2B8;
      border-radius: 5px;

      &::ng-deep {
        .mat-spinner {
          width: 30px !important;
          height: 30px !important;

          svg {
            width: 30px !important;
            height: 30px !important;
          }

          circle {
            stroke: #ffffff;
          }
        }
      }

    }
  }
}
