<div class="create-article">
  <div class="create-article__header">
    <h1>
      {{editArticle ? 'Edit Article' : 'Create Article'}}
    </h1>
  </div>

  <div class="create-article__body">
    <form class="create-article__form" [formGroup]="articleForm" (submit)="submitArticleForm()">
      <mat-form-field class="field-full-width">
        <mat-label>Title</mat-label>
        <input type="text" matInput formControlName="title" required>
        <mat-error *ngIf="articleForm.controls.title.invalid">This field is required</mat-error>
      </mat-form-field>

      <div class="text-editor">
        <label for="body">Body *</label>
        <ng-texteditor id="body" [config]="editorConfig" formControlName="body"></ng-texteditor>
        <small *ngIf="formError && !articleForm.controls.body.valid">This field is required</small>
      </div>

      <div class="inline-form-fields">
        <mat-form-field class="mat-form-field">
          <mat-label>City</mat-label>
          <mat-select formControlName="city" required>
            <mat-option value="prishtine">Prishtine</mat-option>
            <mat-option value="gjakove">Gjakove</mat-option>
            <mat-option value="gjilan">Gjilan</mat-option>
            <mat-option value="vushtrri">Vushtrri</mat-option>
          </mat-select>
          <mat-error *ngIf="articleForm.controls.city.invalid">This field is required</mat-error>
        </mat-form-field>

        <mat-form-field class="mat-form-field">
          <mat-label>Address</mat-label>
          <input type="text" matInput formControlName="address" required>
          <mat-error *ngIf="articleForm.controls.address.invalid">This field is required</mat-error>
        </mat-form-field>

        <mat-form-field class="mat-form-field">
          <mat-label>For</mat-label>
          <mat-select formControlName="for" required>
            <mat-option value="sale">Sale</mat-option>
            <mat-option value="rent">Rent</mat-option>
            <mat-option value="both">Both</mat-option>
          </mat-select>
          <mat-error *ngIf="articleForm.controls.for.invalid">This field is required</mat-error>
        </mat-form-field>
      </div>

      <div class="inline-form-fields">
        <mat-form-field class="mat-form-field">
          <mat-label>Price</mat-label>
          <input type="number" matInput formControlName="price" required>
          <mat-error *ngIf="articleForm.controls.price.invalid">This field is required</mat-error>
        </mat-form-field>

        <mat-form-field class="mat-form-field">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type" required>
            <mat-option value="1+1">1 + 1</mat-option>
            <mat-option value="2+1">2 + 1</mat-option>
            <mat-option value="3+1">3 + 1</mat-option>
          </mat-select>
          <mat-error *ngIf="articleForm.controls.type.invalid">This field is required</mat-error>
        </mat-form-field>

        <mat-form-field class="mat-form-field">
          <mat-label>Available</mat-label>

          <mat-select formControlName="available" required>
            <mat-option [value]="1">Yes</mat-option>
            <mat-option [value]="0">No</mat-option>
          </mat-select>
          <mat-error *ngIf="articleForm.controls.available.invalid">This field is required</mat-error>
        </mat-form-field>

        <mat-form-field class="mat-form-field">
          <mat-label>Number</mat-label>
          <input type="text" matInput formControlName="phone_number" required>
          <mat-error *ngIf="articleForm.controls.phone_number.invalid">This field is required</mat-error>
        </mat-form-field>
      </div>

      <div class="file-input">
        <input type="file" class="upload-input" (change)="onFileSelect($event)"/>
      </div>

      <div class="form-submit" [class.spinner-submit]="submittingForm">
        <button *ngIf="!submittingForm; else spinner" mat-raised-button color="primary">
          {{editArticle ? 'Save Changes' : 'Create'}}
        </button>
      </div>
    </form>
  </div>
</div>

<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>
