@import "../../../../assets/styles/mixin";

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;

  .toolbar-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .log-out-btn {
      background: #3c8dbc;
      border: 1px solid #3c8dbc;
      color: #ffffff;

      &:hover {
        background: #367FA9;
      }
    }
  }
}

.mat-toolbar.mat-primary {
  background: #3c8dbc;
  color: white;
}

.sidenav-container {
  height: 100%;
  position: sticky;

  .sidenav {
    width: 250px;
    background-color: #000000;

    .nav-list {
      a {
        color: #ffffff;

        &:hover {
          background-color: #222222;
        }

        img {
          width: 15px;
          margin-right: 10px;
          margin-bottom: 3px;
        }
      }

      &__active {
        background-color: #222222;
      }

      .admin-info {
        color: #ffffff;
        display: flex;
        padding: 20px 10px;

        align-items: center;

        .profile-picture {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 10px;

          img {
            width: 100%;
            object-fit: contain;
          }
        }

        h4 {
          padding: 0;
          margin: 0;
        }

        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .wrapper {
    max-width: 100%;
    padding: 20px;

    @media all and (min-width: 576px) {
      padding: 30px 40px;
    }

    @media all and (min-width: 768px) {
      padding: 30px 60px;
    }

    @media all and (min-width: 992px) {
      padding: 30px 80px;
    }
  }
}
