<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <div class="toolbar-heading">
    <span>Admin Panel</span>
    <button mat-flat-button class="log-out-btn" (click)="logOut()">Logout</button>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">

    <mat-nav-list class="nav-list">
      <div class="admin-info">
        <div class="profile-picture">
          <img src="../../../../assets/images/profile.png" alt="admin">
        </div>
        <div class="profile-info">
          <h4>admin</h4>
          <p>{{user.email}}</p>
        </div>
      </div>

      <a mat-list-item routerLink="dashboard" routerLinkActive="nav-list__active">
        <img src="../../../../assets/icons/dashboard.svg">
        Dashboard
      </a>
      <a mat-list-item routerLink="/">
        <img src="../../../../assets/icons/eye.svg">
        Webpage
      </a>
      <a mat-list-item routerLink="articles" routerLinkActive="nav-list__active">
        <img src="../../../../assets/icons/article.svg">
        Articles
      </a>
      <a mat-list-item routerLink="contact" routerLinkActive="nav-list__active">
        <img src="../../../../assets/icons/white-envelope.svg">
        Contact
      </a>
      <a mat-list-item routerLink="about-content" routerLinkActive="nav-list__active">
        <img src="../../../../assets/icons/info.svg">
        About Content
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
