@import '../../../../../assets/styles/fonts', '../../../../../assets/styles/mixin';

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  &__heading {
    font-family: "Dosis", sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    color: #70b247;
    font-weight: 700;
    text-align: center;
    margin: 0 0 20px 0;
  }

  &__description {
    font-family: "Merriweather", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #959595;
    font-weight: 700;
    text-align: center;
    max-width: 900px;
  }
}

.spinner-container {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 100%;
  text-align: center;

  &__card {
    width: 100%;

    &--image-container {
      background-color: #000000;
      height: 240px;
      border-radius: 5px 5px 0 0;
      overflow: hidden;

      img {
        width: 100%;
        height: auto !important;
      }
    }

    &--content-container {
      border: 2px solid #ececec;
      border-radius: 0 0 5px 5px;
      padding: 20px;

      h4 {
        font-family: "Dosis", sans-serif;
        font-size: 18px;
        line-height: 24px;
        color: #959595;
        font-weight: 700;
        margin: 0 0 10px 0;
        text-align: left;
      }

      p {
        font-family: "Merriweather", sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #959595;
        font-weight: 300;
        text-align: left;
        min-height: 50px;
      }

      .flags {
        display: flex;
        gap: 15px;
        margin-top: 20px;

        .view-details {
          flex: 1;
          padding: 10px 0;
          border: 2px solid #70b247;
          border-radius: 5px;
          font-family: "Dosis", sans-serif;
          font-size: 14px;
          letter-spacing: 1px;
          color: #70b247;
          text-transform: uppercase;
          background-color: transparent;

          &:hover {
            cursor: pointer;
          }
        }

        .price {
          flex: 1;
          background-color: #175d98;
          border: 1px solid #175d98;
          border-radius: 5px;
          color: #ffffff;
          font-family: "Dosis", sans-serif;
          font-size: 14px;
          letter-spacing: 1px;
          font-weight: 600;
          padding: 10px 0;
        }
      }
    }
  }

  &::ng-deep {
    .carousel-dots {
      bottom: -10px !important;

      .carousel-dot {
        border: 2px solid #ececec !important;
        background-color: #ececec;
      }

      .carousel-dot.carousel-dot-active {
        border: 2px solid #959595 !important;
        background-color: #959595 !important;
      }
    }
  }
}

.popular-properties {
  border: 15px solid #ececec;
  border-radius: 4px;
  padding: 20px;
  margin-top: 60px;
  position: relative;

  &__title {
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;

    div {
      display: flex;
      justify-content: center;

      span {
        background: #ffffff;
        font-family: "Dosis", sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        color: #70b247;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        line-height: 15px;
        padding: 0 10px;
      }
    }
  }

  .two-column-container {
    display: flex;
    flex-wrap: wrap;

    &__card {
      flex: 1;

      @media all and (max-width: 576px) {
        flex: auto;
      }

      .card-inner {
        display: flex;
        margin: 5px;
        padding: 20px;
        background: #000;
        color: white;
        justify-content: center;
        align-items: center;
        height: 300px;

        @media all and (max-width: 576px) {
          height: 150px;
        }
      }
    }
  }

  .three-column-container {
    display: flex;
    flex-wrap: wrap;

    &__card {
      flex: 1;

      @media all and (max-width: 576px) {
        flex: auto;
      }

      @media all and (max-width: 768px) {
        flex: auto;
      }

      .card-inner {
        display: flex;
        margin: 5px;
        background: black;
        color: white;
        justify-content: center;
        align-items: center;
        height: 300px;
        padding: 20px;

        @media all and (max-width: 576px) {
          height: 150px;
        }

        @media all and (max-width: 768px) {
          height: 150px;
        }
      }
    }
  }
}
