<div class="container">
  <div class="intro">
    <h1 class="intro__heading">We are Offering the Best Real Estate Deals</h1>
    <p class="intro__description">
      Look at our latest listed properties and check out the facilities on them, We have already sold more than 5,000
      Homes and we are still going at very good pace. We would love you to look into these properties and we
      hope that you will find something match-able to your needs.
    </p>
  </div>

  <div class="slider" *ngIf="articles; else spinner;">
    <carousel [cellWidth]="370" [overflowCellsLimit]="1" [autoplayInterval]="3000" [height]="500" [loop]="true"
              [autoplay]="true" [dots]="true" [arrows]="false">
      <div class="carousel-cell" *ngFor="let article of articles">
        <div class="slider__card">
          <div class="slider__card--image-container">
            <img [src]="imgUrl+article?.photo[0]?.photo" alt="article-image" *ngIf="article.photo[0]; else noImage">
          </div>

          <div class="slider__card--content-container">
            <h4>{{article.title}}</h4>
            <p [innerHTML]="article.body.length > 75 ? (article.body | slice: 1:75) + '...' : article.body"></p>

            <div class="flags">
              <button class="view-details" [routerLink]="['/property-details/'+article.id]">
                View Details
              </button>
              <div class="price">
                € {{article.price}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </carousel>
  </div>

  <ng-template #noImage>
    <div class="no-image">
      <h3>No image</h3>
    </div>
  </ng-template>

  <ng-template #spinner>
    <div class="spinner-container">
      <app-spinner></app-spinner>
    </div>
  </ng-template>

  <div class="popular-properties" style="display: none">
    <div class="popular-properties__title">
      <div><span>popular properties</span></div>
    </div>

    <div class="two-column-container">
      <div class="two-column-container__card">
        <div class="card-inner">
          Apartment for Sale with 3 Rooms
          in Tunari Village, Ilfov County
        </div>
      </div>

      <div class="two-column-container__card">
        <div class="card-inner">
          Apartment for Sale with 3 Rooms
          in Tunari Village, Ilfov County
        </div>
      </div>
    </div>

    <div class="three-column-container">
      <div class="three-column-container__card">
        <div class="card-inner">
          Duplex Apartment for Sale
          with 4 Rooms in Dorobanti-Capitale Area
        </div>
      </div>

      <div class="three-column-container__card">
        <div class="card-inner">
          Duplex Apartment for Sale
          with 4 Rooms in Dorobanti-Capitale Area
        </div>
      </div>

      <div class="three-column-container__card">
        <div class="card-inner">
          Duplex Apartment for Sale
          with 4 Rooms in Dorobanti-Capitale Area
        </div>
      </div>
    </div>
  </div>
</div>
