@font-face {
  font-family: 'Dosis';
  src: url(../fonts/dosis/Dosis-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'Dosis';
  src: url(../fonts/dosis/Dosis-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Dosis';
  src: url(../fonts/dosis/Dosis-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Dosis';
  src: url(../fonts/dosis/Dosis-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Dosis';
  src: url(../fonts/dosis/Dosis-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Dosis';
  src: url(../fonts/dosis/Dosis-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Dosis';
  src: url(../fonts/dosis/Dosis-ExtraBold.ttf);
  font-weight: 900;
}

@font-face {
  font-family: 'Merriweather';
  src: url(../fonts/merriweather/Merriweather-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Merriweather Italic';
  src: url(../fonts/merriweather/Merriweather-LightItalic.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Merriweather';
  src: url(../fonts/merriweather/Merriweather-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Merriweather Italic';
  src: url(../fonts/merriweather/Merriweather-Italic.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Merriweather';
  src: url(../fonts/merriweather/Merriweather-Black.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Merriweather Italic';
  src: url(../fonts/merriweather/Merriweather-BlackItalic.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Merriweather';
  src: url(../fonts/merriweather/Merriweather-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Merriweather Italic';
  src: url(../fonts/merriweather/Merriweather-BoldItalic.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Lora';
  src: url(../fonts/lora/Lora-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Lora';
  src: url(../fonts/lora/Lora-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Lora';
  src: url(../fonts/lora/Lora-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Lora';
  src: url(../fonts/lora/Lora-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Lora Italic';
  src: url(../fonts/lora/Lora-Italic.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Lora Italic';
  src: url(../fonts/lora/Lora-MediumItalic.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Lora Italic';
  src: url(../fonts/lora/Lora-SemiBoldItalic.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Lora Italic';
  src: url(../fonts/lora/Lora-BoldItalic.ttf);
  font-weight: 700;
}
