.container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media all and (min-width: 576px) {
    max-width: 90%;
  }

  @media all and (min-width: 768px) {
    max-width: 720px;
  }

  @media all and (min-width: 992px) {
    max-width: 960px;
  }

  @media all and (min-width: 1200px) {
    max-width: 1140px;
  }
}

@mixin wrapper {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media all and (min-width: 576px) {
    max-width: 540px;
  }

  @media all and (min-width: 768px) {
    max-width: 720px;
  }

  @media all and (min-width: 992px) {
    max-width: 960px;
  }

  @media all and (min-width: 1200px) {
    max-width: 1140px;
  }
}
