<div class="reset-password">
  <div class="reset-password__header">
    Reset Password
  </div>

  <div class="reset-password__form-container">
    <form class="reset-password__form" [formGroup]="resetPasswordForm" (submit)="sendResetPassword()">
      <div class="input-container">
        <label for="email">E-Mail Address</label>
        <input type="text" name="email" id="email" formControlName="email">
      </div>

      <div class="submit-section">
        <div class="offset-div"></div>
        <div class="button-div">
          <button mat-flat-button color="primary">Send reset password link</button>
        </div>
      </div>
    </form>
  </div>
</div>
