<div class="footer">
  <div class="container">
    <div class="footer__options">
      <div class="about-us">
        <h1 class="about-us__title">{{aboutUs?.title}}</h1>
        <p class="about-us__description" [innerHTML]="aboutUs?.body"></p>
      </div>

      <div class="prop-types">
        <h1 class="prop-types__title">PROPERTY TYPES</h1>
        <div class="prop-types__list">
          <ul>
            <li *ngFor="let type of types" [routerLink]="['/search-result']"
                [queryParams]="{type: type}">{{type}}</li>
          </ul>
        </div>
      </div>

      <div class="locations">
        <h1 class="locations__title">LOCATIONS</h1>
        <div class="locations__list">
          <ul>
            <li *ngFor="let city of cities" [routerLink]="['/search-result']"
                [queryParams]="{city: city}">{{city | titlecase}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer__copyright">
      <div class="logo-container">
        <img src="../../../../../assets/images/application-logo.png"/>
        <p><strong>real</strong>estate</p>
      </div>
      <div class="copyright-text">
        Copyright © 2016 RealEstate, Inc. All rights reserved.
      </div>
    </div>
  </div>
</div>
