@import '../../../../../assets/styles/fonts', '../../../../../assets/styles/mixin';

* {
  box-sizing: border-box;
}

.footer {
  width: 100%;
  min-height: 500px;
  background-image: url(../../../../../assets/images/footer-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: cover;
  background-position: bottom;
  box-sizing: border-box;

  @media screen and (max-width: 576px) {
    padding-bottom: 50px;
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    row-gap: 20px;
    margin-bottom: 30px;
    padding-top: 40px;
    border-top: 2px solid #F5F5F5;

    .about-us {
      flex: 45%;

      &__title {
        font-family: "Dosis", sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        color: #175d98;
        font-weight: 800;
      }

      &__description {
        font-family: "Merriweather", sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #959595;
        font-weight: 700;
      }

      @media all and (max-width: 768px) {
        flex: 100%;
      }
    }

    .prop-types {
      flex: 20%;

      &__title {
        font-family: "Dosis", sans-serif;
        font-size: 18px;
        color: #175d98;
        font-weight: 700;
      }

      &__list {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          font-family: "Merriweather", sans-serif;
          font-size: 14px;
          color: #959595;

          li {
            margin-bottom: 15px;
            list-style-type: none;
            position: relative;
            padding-left: 15px;

            &:before {
              content: "\25BA \0020";
              font-size: 10px;
              position: absolute;
              top: 0;
              left: 0;
            }

            &:hover {
              cursor: pointer;
              color: #70B247;
            }

            &:focus {
              outline: none;
              border: none;
              box-shadow: none;
            }
          }
        }
      }

      @media all and (max-width: 768px) {
        flex: 45%;
      }
    }

    .locations {
      flex: 20%;

      &__title {
        font-family: "Dosis", sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        color: #175d98;
        font-weight: 700;
      }

      &__list {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          font-family: "Merriweather", sans-serif;
          font-size: 14px;
          color: #959595;

          li {
            margin-bottom: 15px;
            list-style-type: none;
            position: relative;
            padding-left: 15px;

            &:before {
              content: "\25BA \0020";
              font-size: 10px;
              position: absolute;
              top: 0;
              left: 0;
            }

            &:hover {
              cursor: pointer;
              color: #70B247;
            }

            &:focus {
              outline: none;
              border: none;
              box-shadow: none;
            }
          }
        }
      }

      @media all and (max-width: 768px) {
        flex: 45%;
      }
    }
  }

  &__copyright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    .logo-container {
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 10px;
      font-family: "Dosis", sans-serif;
      font-size: 30px;
      color: #175d98;
      font-weight: 600;

      p {
        margin: 0 0 10px 0;
      }
    }

    .copyright-text {
      font-family: "Dosis", sans-serif;
      font-size: 16px;
      letter-spacing: 1px;
      color: #959595;
      font-weight: 600;
    }
  }
}
