<div class="articles">
  <div class="articles__title">
    <h1>Articles</h1>
  </div>
  <div class="articles__content">
    <div class="create-article">
      <button mat-raised-button color="primary" routerLink="/admin/articles/create-article">Crate Article</button>
    </div>

    <div class="articles__content--filters">
      <div class="show-entries">
        Show <em>10</em> entries
      </div>
      <div class="search">
        <mat-form-field class="search__input-field">
          <mat-label>Search entries</mat-label>
          <input type="text" matInput placeholder="Search entries">
        </mat-form-field>
      </div>
    </div>

    <div class="articles__content--table">
      <table mat-table [dataSource]="articlesList" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title</th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> City</th>
          <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address</th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type</th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef> Number</th>
          <td mat-cell *matCellDef="let element"> {{element.phonenumber}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-mini-fab color="primary" class="preview-button" aria-label="preview"
                    [routerLink]="['/admin/articles/article-details/'+element.id]">
              <mat-icon>preview</mat-icon>
            </button>
            <button mat-mini-fab color="primary" aria-label="edit"
                    [routerLink]="['/admin/articles/edit-article/'+element.id]">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" aria-label="delete" (click)="openDeleteDialog(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>

