<div class="about-content">
  <div class="about-content__title">
    <h1>About</h1>
  </div>
  <div class="about-content__content">
    <form class="about-content__form" [formGroup]="aboutContentForm" (submit)="updateAboutUs()">
      <mat-form-field class="field-full-width">
        <mat-label>Title</mat-label>
        <input type="text" matInput formControlName="title" required>
        <mat-error *ngIf="!aboutContentForm.controls.title.valid">This field is required</mat-error>
      </mat-form-field>

      <div class="text-editor">
        <label for="body">Body *</label>
        <ng-texteditor id="body" [config]="editorConfig" formControlName="body"></ng-texteditor>
        <small *ngIf="formError && !aboutContentForm.controls.body.valid">This field is required</small>
      </div>

      <div class="form-submit">
        <button mat-raised-button color="primary">Update</button>
      </div>
    </form>
  </div>
</div>
