.about-content {
  border: 1px solid lightgrey;
  border-radius: 5px;

  &__title {
    border-bottom: 1px solid lightgrey;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 15px;

    h1 {
      margin: 0;
      padding: 0;
    }
  }

  &__content {
    padding: 15px;
  }

  &__form {
    .field-full-width {
      width: 100%;
      margin-bottom: 20px;
    }

    .text-editor {
      margin-bottom: 20px;

      label {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.8);
      }

      small {
        color: red;
      }
    }

    .form-submit {
      button {
        background-color: #3c8dbc;
      }
    }
  }
}
